/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

/**
 * 1) Global block at the bottom of each page that contains a navigation and other information
 */
.c-footer {
	padding: 1rem;
	background: $color-gray-07;
}
