/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 */
.c-logo {
	max-width: 14rem;
}

/**
 * Logo link
 */
.c-logo__link {
	display: block;
}

/**
 * Logo image
 */
.c-logo__img {
	display: block;
}
