 /*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * Brand Colors
 * 1) Brand=specific colors
 */
/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the UI
 */
/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 *    form validation, etc.
 */
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Font Family
 */
/**
 * Font Sizing
 */
/**
 * Line Height
 */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Max Width
 */
/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
/**
 * Border
 */
/**
 * Border radius
 */
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/**
 * Transition Speed
 */
/**
 * Transition Ease
 */
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints used in media queries
 * 1) These are not the only breakpoints used, but they provide a few defaults
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * In this file, we take the literal colors from our palette (defined in variables.scss) 
 * and define them against variables that we can utilise anywhere throughout the project.
 */
/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/
/**
 * Body text and background colors
 */
/**
 * Highlight colors
 */
/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/**
 * In this file, we take the literal colors from our palette and define them
 * against variables that we can utilise anywhere throughout the project.
 */
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  box-sizing: border-box; }

/**
 * 1) Zero out margins and padding for elements
 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

/**
 * 1) Set HTML5 elements to display: block
 */
header, footer, nav, section, article, figure {
  display: block; }

/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * Body base styles
 * 1) Set the body element's height to at least 100vh of the viewport.
 *    This is used to achieve a sticky footer
 * 2) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
body {
  background: blue; }

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
/**
 * Link base styles
 */
a {
  color: #444;
  text-decoration: none;
  outline: 0;
  transition: color 0.15s ease-out; }
  a:hover, a:focus {
    color: #808080; }
  a:active {
    color: #131313; }
  a:visited {
    color: #131313; }

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
/**
 * 1) List base styles
 */
/**
 * Remove list styles from unordered and ordered lists
 */
ol, ul {
  list-style: none; }

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/**
 * Heading 1 base styles
 */
h1 {
  font-size: 2.25rem;
  line-height: 1; }

/**
 * Heading 2 base styles
 */
h2 {
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-weight: normal;
  margin-bottom: 0.5rem; }

/**
 * Heading 3 base styles
 */
h3 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 0.3rem; }

/**
 * Heading 4 base styles
 */
h4 {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 0.3rem; }

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * 1) Form element base styles
 */
/**
 * Input placeholder text base styles
 */
::-webkit-input-placeholder {
  color: #808080; }

::-moz-placeholder {
  color: #808080; }

:-ms-input-placeholder {
  color: #808080; }

/**
 * Fieldset base styles
 */
fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

/**
 * Legend base styles
 */
legend {
  margin-bottom: 0.25rem; }

/**
 * Label base styles
 */
label {
  display: block;
  padding-bottom: 0.25rem;
  color: #131313; }

/**
 * Add font size 100% of form element and margin 0 to these elements
 */
button, input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  margin: 0; }

/**
 * Text area base styles
 */
textarea {
  resize: none; }

/**
 * Input  and text area base styles
 */
input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #444;
  background: #fff; }
  input:focus, textarea:focus {
    border-color: #131313; }

/**
 * Remove webkit appearance styles from these elements
 */
input[type=text], input[type=search], input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

/**
 * Checkbox and radio button base styles
 */
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3rem;
  border-color: #444; }

/**
 * Search input base styles
 */
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

/**
 * Select
 * 1) Remove default styling
 */
select {
  display: block;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #444;
  padding: 0.5rem;
  background: #fff;
  color: #131313; }
  select:focus {
    border-color: #131313; }

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */
button {
  cursor: pointer; }

/*------------------------------------*\
    #MAIN ELEMENT
\*------------------------------------*/
/**
 * Main element
 */
[role=main] {
  display: block;
  padding: 1rem; }

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Responsive image styling
 * 1) Allows for images to flex with varying screen size
 */
img {
  max-width: 100%;
  height: auto; }

/*------------------------------------*\
    #TEXT
\*------------------------------------*/
/**
 * Paragraph base styles
 */
p {
  margin-bottom: 1rem; }

/**
 * Blockquote base styles
 */
blockquote {
  font-style: italic;
  border-left: 1px solid #808080;
  color: #808080;
  padding-left: 1rem;
  margin-bottom: 1rem; }

/**
 * Horizontal rule base styles
 */
hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 1rem 0; }

/**
 * Selection styles
 */
::-moz-selection {
  color: #131313;
  background: #ddd;
  /* Gecko Browsers */ }

::selection {
  color: #131313;
  background: #ddd;
  /* WebKit/Blink Browsers */ }

/**
 * Code base styles
 */
code {
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: .2rem .5rem;
  line-height: 1.2;
  font-size: .85rem; }

/**
 * Preformatted text base styles
 */
pre {
  background: #f9f9f9;
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 1rem;
  overflow-x: auto;
  /**
   * Remove border from code within preformatted text block
   */ }
  pre code {
    border: 0; }

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
  font-family: monospace !important; }

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Table
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

/**
 * Table header cell
 */
th {
  text-align: left; }

/**
 * Table row
 */
tr {
  vertical-align: top; }

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Layout Container
 * 1) Caps the width of the content to the maximum width
 *    and centers the container
 */
.l-container {
  max-width: 60rem;
  margin: 0 auto; }

/**
 *
 * 1) This narrow layout container is for lists, forms,
 *    and other singular objects that aren't dashboard-y
 *    kinds of displays
 */
.l-linelength-container {
  max-width: 36rem; }

/*------------------------------------*\
    #GRID
\*------------------------------------*/
/**
 * Grid Container
 */
.l-grid {
  display: flex;
  flex-wrap: wrap; }
  @supports (display: grid) {
    .l-grid {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
      margin: 0; } }

/**
 * Grid Item
 */
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 *
 * 1) Button or link that has functionality to it
 */
.c-btn {
  display: inline-block;
  border: 1px solid #131313;
  border-radius: 4px;
  background: #444;
  color: #fff;
  line-height: 1;
  font-weight: bold;
  padding: 1rem 2rem;
  border: 0;
  text-align: center;
  transition: all 0.15s ease-out; }
  .c-btn:hover, .c-btn:focus {
    background: #808080; }

/*
 * Inner container wrapper
 * 1) Container is direct decendant of <button>, since there's
 *    a bug with applying flexbox directly to a <button>
 * 2) Only needs to be used for buttons containing both icons and text
 */
.c-btn__inner {
  display: flex;
  align-items: center;
  justify-content: center; }

/*
 * Button icon
 */
.c-btn__icon {
  width: 1rem;
  height: 1rem;
  fill: #fff;
  transition: fill 0.15s ease-out; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
/**
 * 1) Global block at the bottom of each page that contains a navigation and other information.
 */
.c-footer {
  padding: 1rem;
  background: #eee; }

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/**
 * Global block at the top of each page containing the navigation, logo, and other potential contents
 */
.c-header {
  position: relative;
  background: #eee; }

/**
 * Header inner
 */
.c-header__inner {
  display: flex;
  padding: 1rem;
  /**
   * Header inner within vertical header
   */ }
  @media all and (min-width: 70em) {
    .c-header--vertical .c-header__inner {
      flex-direction: column;
      min-height: 100vh; } }

/**
 * Header navigation button
 * 1) Button used to toggle the navigation on/off on small screens
 */
.c-header__nav-btn {
  margin-left: auto; }
  @media all and (min-width: 70em) {
    .c-header__nav-btn {
      display: none; } }

/**
 * Header navigation conntainer
 * 1) Contains the primary navigation and other possible patterns
 */
.c-header__nav-container {
  display: none;
  /**
   * Header navigation conntainer within vertical header
   */ }
  @media all and (min-width: 70em) {
    .c-header__nav-container {
      display: block;
      margin-left: auto; } }
  @media all and (min-width: 70em) {
    .c-header--vertical .c-header__nav-container {
      margin-left: 0; } }

/**
 * Active header nav container
 */
.c-header__nav-container.is-active {
  display: block;
  position: absolute;
  background: #eee;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 1rem;
  /**
   * Active header nav container within vertical header
   */ }
  @media all and (min-width: 70em) {
    .c-header__nav-container.is-active {
      display: block;
      position: static;
      padding: 0;
      margin-left: auto;
      width: inherit; } }
  @media all and (min-width: 70em) {
    .c-header--vertical .c-header__nav-container.is-active {
      margin-left: 0;
      width: 100%; } }

/*------------------------------------*\
    #LOGO
\*------------------------------------*/
/**
 * Branding image or text of the site
 */
.c-logo {
  max-width: 14rem; }

/**
 * Logo link
 */
.c-logo__link {
  display: block; }

/**
 * Logo image
 */
.c-logo__img {
  display: block; }

/*------------------------------------*\
    #ICON
\*------------------------------------*/
/**
 * 1) Small image that represents functionality
 */
.c-icon {
  height: 16px;
  width: 16px; }

/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) Container that consists of of a page header title and description
 */
/**
 * Page header title
 */
.c-page-header__title {
  margin-bottom: 1rem; }

/**
 * Page description
 */
.c-page-header__desc {
  margin-bottom: 2rem; }

/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/
/**
 * Primary navigation existing in the header and maybe the footer
 */
/**
 * Primary navigation list
 */
.c-primary-nav__list {
  display: flex; }

/**
 * Primary navigation item
 */
.c-primary-nav__item {
  margin-right: 1rem; }

/**
 * Primary navigation link
 */
.c-primary-nav__link {
  display: block;
  padding: 0.5rem 0;
  cursor: pointer; }

/*------------------------------------*\
    #TEXT PASSAGE
\*------------------------------------*/
/**
 * 1) A passage of text, including various components (i.e. article, blog post)
 */
.c-text-passage {
  /**
   * Link within the text passage
   */
  /**
   * Blockquote within text passage
   */
  /**
   * First-level heading within text passage
   */
  /**
   * Second-level heading within text passage
   */
  /**
   * Third-level heading within text passage
   */
  /**
   * Fourth-level heading within text passage
   */
  /**
   * Fifth-level heading within text passage
   */
  /**
   * Sixth-level heading within text passage
   */
  /**
   * Unordered list within text passage
   */
  /**
   * Ordered list within text passage
   */ }
  .c-text-passage p {
    margin-bottom: 1rem; }
  .c-text-passage a {
    text-decoration: underline; }
  .c-text-passage blockquote {
    padding-left: 0.8rem;
    border-left: 3px solid #444;
    color: #808080;
    font-size: 1rem; }
  .c-text-passage h1 {
    margin-bottom: 1rem; }
  .c-text-passage h2 {
    margin: 1rem 0 1rem;
    color: #444;
    font-weight: bold; }
  .c-text-passage h3 {
    margin: 1rem 0 1rem; }
  .c-text-passage h4 {
    margin: 1rem 0 1rem; }
  .c-text-passage h5 {
    margin: 1rem 0 1rem; }
  .c-text-passage h6 {
    margin: 1rem 0 1rem; }
  .c-text-passage ul {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 1rem; }
    .c-text-passage ul li:last-child {
      margin-bottom: 0; }
  .c-text-passage ol {
    list-style: decimal;
    margin-left: 1rem;
    margin-bottom: 1rem; }
    .c-text-passage ol li:last-child {
      margin-bottom: 0; }
  .c-text-passage li {
    margin-bottom: 0.5rem;
    line-height: 1.6; }

/*------------------------------------*\
    #FIELDS
\*------------------------------------*/
/**
 * 1) Consists of a label, form control, and an optional note about the field.
 */
.c-field {
  margin-bottom: 2rem; }

/**
 * Field label
 */
.c-field__label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold; }

/**
 * Field body
 */
.c-field__body {
  position: relative; }

/**
 * Field note
 */
.c-field__note {
  display: inline-block;
  font-size: 0.75rem;
  color: #808080; }

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #VISIBILITY CLASSES
\*------------------------------------*/
/**
 * Is Hidden
 * 1) Completely remove from the flow and screen readers.
 */
.u-is-hidden {
  display: none !important;
  visibility: hidden !important; }

/**
 * Is Visibly Hidden
 * 1) Completely remove from the flow but leave available to screen readers.
 */
.u-is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/*# sourceMappingURL=style.css.map */
